<div>
  <p><%= @messages[index].content %><p>
  <% if @messages.length - 1 == index %>
    <br/>
    <p class="reply-info">You can reply directly to this email.</p>
  <% end %>
</div>
<% if index > 0 %>
  On <%= @messages[index - 1].created_at.localtime.to_formatted_s(:short) %>, <%= @messages[index - 1].incoming? ? @messages[index - 1].sender&.email : 'support@mojjo.io' %> wrote:
  <blockquote>
    <%= render partial: "conversation_reply_mailer/reply_line", locals: { index: (index - 1) } %>
  </blockquote>
<% end %>